[submodule "repo/cutlass"]
	path = repo/cutlass
	url = https://github.com/NVIDIA/cutlass.git
	branch = main
[submodule "repo/flash-attention"]
	path = repo/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
	branch = main
[submodule "repo/FlashMLA"]
	path = repo/FlashMLA
	url = https://github.com/deepseek-ai/FlashMLA.git
	branch = main
[submodule "repo/tilelang"]
	path = repo/tilelang
	url = git@github.com:Whisillus/tilelang.git
	branch = main
[submodule "repo/TileRT"]
	path = repo/TileRT
	url = https://github.com/tile-ai/TileRT.git
	branch = main
[submodule "repo/CuAssembler"]
	path = repo/CuAssembler
	url = https://github.com/cloudcores/CuAssembler.git
	branch = master
[submodule "repo/sass-king"]
	path = repo/sass-king
	url = https://github.com/florianmattana/sass-king.git
	branch = main
[submodule "repo/flashinfer"]
	path = repo/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
	branch = main
[submodule "repo/gpu-benches"]
	path = repo/gpu-benches
	url = https://github.com/RRZE-HPC/gpu-benches
